
<h1>Help</h1>
<p>
<<<<<<< HEAD
  Trololo
=======
  Get help on Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
>>>>>>> 539178f3ebcdfb039a116a933668943878fb829a
</p>
